.changepasswordpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background-color: #e0e0e0;
  }
  
  .changepasswordpage .changepasswordform {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
  }
  
  .changepasswordpage .changepasswordform h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .changepasswordpage  .changepassworddetails {
    display: flex;
    flex-direction: column;
  }
  
  .changepasswordpage .changepassworddetails label {
    margin-bottom: 10px;
  }
  
  .changepasswordpage .form-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .changepasswordpage .submit-btn {
    padding: 10px 20px;
    background-color: #5e0010;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  